.cardPolicy{
    max-height: 500px;
    overflow-y:auto;
}
.policyDoc {
  table-layout: fixed;
  width: 100%;
}
.policyDoc th {
  width: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}

.policyDoc td {
  width: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.alert {
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.save, .update, .print{
    margin-top: 6px;
    margin-right: 3px;
}

.alert{
    margin-top: 10px;
}
